body{
    font-family: "Lato", sans-serif;
    color: #6e6e70;
}
.aboutBody{
    text-align: center;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.slogan {
    font-style: italic;
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 25px;
}

.missionContent {
    font-size: 20px;
    text-align: left;
    margin: 20px 22% 15px 22%;
    font-weight: lighter;
}

.attention {
    /* background-color: #db4b62; */
    color: #db4b62;
    font-size: 24px;
    font-weight: bold;
    margin: 0px 20% 20px 20%;
}

.email {
    font-weight: lighter;
}

.photoTitles {
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.memberTag {
    color: #6e6e70;
    font-weight: lighter;
}

.aboutTitle {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
}

.aboutTeamImgs {
    margin: auto;
    height: 225px;
    width: 200px;
    text-align: center;
}

.imgContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    width: 65%;
    padding-bottom: 50px;
}

.teamPhotos {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}