body{
    font-family: 'Nunito Sans', sans-serif;
    background-color:#fafaed;
}
.title{
    font-weight: 600;
    font-size: 50px;
    color: #fafaed;
    padding-right:60px;
}
.links{
    font-weight: 600;
    font-size:20px;
    padding: 30px;
    color: #fafaed;
}
.nav-wrapper{
    background-color:#177283;
    width:100%;
}

.navtitle{
    width: 50%; 
    text-align: left;
}
.tabs{
    width:50%;
    text-align: right;
}
