body{
    font-family: 'Lato', sans-serif;
    color: #6e6e70;
}

#root {
    position:relative;
}

.title{
    font-weight: bold;
    font-size: 20px;
    /* color: #fafaed; */
    color: #177283 !important;
    padding-left: 20px;
}
.links{
    font-weight: 200;
    font-size: 18px;
    padding: 25px 10px 10px 25px;
    /* color: #f1faed; */
    color: black;
    text-align: right;
    align-content: right;
    /* -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; */
}

.links:hover, .links:active {
    text-decoration: none;
    font-weight: bold;
    /* color: white; */
    color: black;
}

.navbar {
    padding: 15px;
}

.nav-wrapper{
    /* background-color:#177283; */
    width:100%;
    box-shadow: none;
}
.navtitle{
    width: 50%; 
    text-align: left;
}

.nav-link{
    display: inline-block;
}
.tabs{
    width: 100%;
    text-align: right;
    /* display: inline-block; */
}
.navbar-collapse{
    align-content: right !important;
    /* padding-left: 25%;  */
    text-align: right !important;
    
}
.menuItems {
    align-content: right;
    /* display: inline-block !important; */
}

div.links.dropdown {
    /* display: inline-block; */
    padding: 0px;
}
.footer {
    width: 100%;
    height: 225px;
    background-color: #177283;
    background-repeat: repeat;
    color:white;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
@media (max-width: 768px){
    .footer {
        width: 100%;
        height: 225px;
        background-color: #177283;
        background-repeat: repeat;
        color:white;
        margin-top: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        
    }
}



.footer-title{
    padding-left: 40px;
    font-size: 26px;
    font-weight: bold;
}

span {
    padding-left: 3.9%;
    padding-right: 3.5%;
  }
.contentBox {
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer-content {
    text-align: left;
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    width: 50%;
    float: left;
}

.footer-contact {
    padding-left: 40px;
}

.footer-toolkit {
    text-align: right;
    margin-right: 0px;
    width: 50%;
    float: right;
    padding-right: 40px;
    font-weight: lighter;
}

.button-toolkit:hover {
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 980px) {
    .footer {
        height: 300px;
    }

    .footer-toolkit {
        display:none;
    }
}
