body{
    font-family: 'Nunito Sans', sans-serif;
    background-color:#fafaed;
}
.title{
    font-weight: 600;
    font-size: 50px;
    color: #fafaed;
    padding-right:60px;
}
.links{
    font-weight: 600;
    font-size:20px;
    padding: 10px;
    color: #f1faed;
}
.nav-wrapper{
    background-color:#177283;
    width:100%;
}

.navtitle{
    width: 50%; 
    text-align: left;
}
.tabs{
    widows: 100%;
    text-align: right;
}

.menuItems {
    align-content: right;
}

.navbar-expand-lg {
    align-content: right;
}