body {
  font-family: "Lato", sans-serif;
  color: #6e6e70;
}
/* .sidebar{
    float: left;
    margin-top: 15px; 
    padding-left: 20px;
    margin-left:15px;
} */
.sidebarFilter {
  /* float: left; */
  padding-left: 30px;
  padding-right: 40px;
  /* background-color: #33cbe64b; */
  padding-top: 20px;
  font-weight: 300;
  padding-bottom: 275px;
}

.navbar-wrapper {
  position: fixed;
}
.footer {
  margin-top: 0;
}

.newOrg {
  float: right;
}
.add {
  float: right;
  position: relative;
  margin-right: 3%;
}
.btn-secondary {
  background-color: #cf0f2e !important;
  border-color: #cf0f2e !important;
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px !important;
  border-radius: 2px !important;
  font-size: 14px !important;
}

/* .btn-secondary:active{
  background-color: #e74f68 !important;
  border-color: #e74f68 !important;
  text-decoration: none !important;
} */

.btn-secondary.dropdown-toggle {
  background-color: #177283 !important;
  border-color: #177283 !important;
}

.card {
  width: 270px;
  box-shadow: 1px 1px 5px #cfcfcf;
  margin: 30px;
  /* box-sizing: content-box; */
}
.card:hover {
  box-shadow: 1px 1px 40px #cfcfcf;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.card-img {
  width: 100%;
  /* min-width: 250px;
  max-width: 270px; */
  height: auto;
  max-height: 170px;
  min-height: 170px;
}
.card-body {
  align-content: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  order: 1;
  outline-color: #fafaed;
}

.card-subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 13px;
  padding-top: 5%;
}

.eventName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  font-size: 16px;
  padding: 8px;
  height: 3.8em;
  text-align: left;
  font-weight: 400;
}
.eventMonth {
  font-size: 14px;
  text-align: center;
  color: #cf0f2e;
  min-width: 50px;
  float: left;
  font-weight: 300;
  /* background-color: whitesmoke; */
  margin-top: 5%;
  margin-right: 5%;
}

.eventDay {
  font-size: 20px;
  color: #6e6e70;
  text-align: center;
  margin-right: 4px;
  /* background-color: rgb(223, 199, 199); */
  font-weight: 350;
}
.eventAddress {
  text-align: left;
  font-weight: 200;
  font-size: 15px;
}
.eventTime {
  text-align: left;
  font-weight: 200;
  font-size: 15px;
}
.service {
  text-align: left;
}
.actionType {
  text-align: right;
  margin-bottom: 50%;
  border-radius: 50%;
  font-weight: 300;
}

.help {
  /* text-align: center; */
  font-size: 14px;
  margin-bottom: 30px;
}

.search {
  padding: 5px;
}
.search .input-group {
  float: left;
  width: 50%;
  margin-left: 23%;
  margin-top: 1%;
  margin-right: 3%;
}

.search .btn-secondary {
  /* float: right; */
  /* margin-right: 8%; */
  margin-top: 1%;
}

.services {
  color: grey;
  font-weight: normal;
}

.events {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-content: center;
  width: 80%;
}

/* @media only screen and (max-width: 768px) {
  .events {
    width: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .events {
    width: 300px;
  }
}

@media only screen and (min-width: 1224px) {
  .events {
    width: 800px;
  }
}

@media only screen and (min-width: 1824px) {
  .events {
    width: 1500px;
  }
} */