form{
  margin: 20px 20% 20px 20%;
  padding: 40px;
  background-color: white;
  box-shadow: 3px 3px 10px -5px #6e6e70;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  overflow-y: scroll;
  max-height: 69vh;
}

.pageTitle {
  text-align: center;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  font-size: 28px;
  /* font-weight: bold; */
  color: #db4b62;
}

.newOrgButton {
  text-emphasis: bold;
}

.subtitle {
  font-size: 12px;
}

.formButton {
  text-align: center;
}

.formTitle {
    color: #db4b62;
}

h6.help {
  font-weight: lighter;
  margin-bottom: 10px;
}

.helpLink {
    color: #177283;
    font-weight: bold;
}

.helpLink:hover {
    color: #177283;
}

.formChecks {
    margin-bottom: 10px;
}

.formTypes {
  padding-bottom: 10px;
}

label, h6 {
  font-weight: bold;
  color: #177283;
}

.input {
  font-weight: lighter;
}

.serviceOptions {
  color: grey;
  font-weight: normal;
}