body {
  font-family: "Lato", sans-serif;
}
.homeBody {
  text-align: center;
}

.bannerBox {
  width: 40%;
  height: 100vh;
  opacity: 0.7;
  /* background-color: #db4b62; */
  background-color: #cf0f2e;
  /* background-color: #177283 */
}

.bannerContent {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 80px;
  padding-top: 17%;
  padding-left: 25%;
  font-weight: bold;
  text-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
  text-align: left;
  /* padding-left: 10%; */
  opacity: 1;
}

.homeTitle {
  margin-top: 30px;
  font-weight: bold;
}

.homeAbstract,
.homeFeatures {
  text-align: left;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 16px;
}

.homePurpose {
  color: #177283;
  font-size: 24px;
  font-weight: bold;
  margin: 50px 20% 50px 20%;
}

.homeSubtitle {
  text-align: left;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.homeFeatures {
  /* font-style: italic; */
  display: flex;
  padding-bottom: 100px;
}

.highlightFeature {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
}

.feature {
  width: 33%;
  padding-right: 30px;
}

.parallax {
  width: 90%;
  align-content: center;
  margin: auto;
  padding-top: 20px;
}