body {
  font-family: "Lato", sans-serif;
}
.homeBody {
  text-align: center;
}
.scroll-down {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  margin-left: 28%;
  margin-top: 10%;
  left: 20%;
  top: 60%;
  bottom: 60%;
  text-decoration: none;
  text-shadow: 0;
  width: 50px;
  height: 50px;
  /* border-bottom: 10px solid #cf0f2e; */
  border-bottom: 10px solid white;
  /* border-right: 10px solid #cf0f2e; */
  border-right: 10px solid white;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 3s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

.bannerBox {
  width: 40%;
  height: 100vh;
  opacity: 0.7;
  /* background-color: #db4b62; */
  background-color: #cf0f2e;
  /* background-color: #177283 */
}

.bannerContent {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 80px;
  /* padding-top: 17%; */
  /* padding-left: 25%; */
  font-weight: bold;
  text-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  /* padding-left: 10%; */
  opacity: 1;
  /* display: flex; */
  padding-top: 200px;
}

@media only screen and (max-width: 450px) {
  .bannerContent {
    font-size: 50px;
    padding: 50px;
    padding-top: 180px;
    /* padding-top: 150px; */
  }
}

.homeTitle {
  margin-top: 30px;
  font-weight: bold;
}

.homeAbstract {
  text-align: left;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  font-weight: 300;
}

.homeFeatures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  font-weight: 300;
  margin: auto;
  width: 65%;
}

.homePurpose {
  color: #177283;
  font-size: 24px;
  font-weight: bold;
  margin: 50px 20% 50px 20%;
}

.homeLiner {
  font-size: 22px;
  font-weight: bold;
}

.homeSubtitle {
  text-align: left;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.highlightFeature {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  color: #db4b62;
  text-align: center;
}

.feature {
  padding-right: 30px;
  text-align: center;
  margin: 3%;
  padding: 20px;
  font-size: 16px;
  width: 225px;
  border-style: solid;
  border-width: 0.5px;
  border-color: gray;
  height: 250px;
}

.feature .icon {
  font-size: 30px;
  color: #177283;
}

.parallax {
  width: 100%;
  align-content: center;
  margin: auto;
}
