.org {
    width: 500px;
    padding: 20px;
    color: grey;
}

.org :hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px lightgray;
}

.orgTitle {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #177283;
}

.orgDescr {
    font-size: 14px;
    margin-bottom: 7px;
}

.orgType {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0px;
    color: #db4b62;
}

.orgCollection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.orgSearch {
    padding: 20px;
}
.orgSearch .input-group{
    width: 50%; 
    float: left;
    margin-right: 10%;
}

.orgSearch .btn-secondary{
    margin-top: 0%;
}

.orgContact {
    font-size: 14px;
    font-weight: bold;
    /* color: #db4b62; */
    margin-bottom: 0px;
}


