@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600');



@font-face{
    font-family: 'Nunito Sans 400';
    src:url()
}

@font-face{
    font-family: 'Nunito Sans 600', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Nunito+Sans:600');
}

.title{
    font-family: 'Nunito Sans 600', sans-serif;
}

.links{
    font-family: 'Nunito Sans 600', sans-serif;
}

.homeBody{
    font-family: 'Nunito Sans 400', sans-serif;
}
