.title {
    font-weight: bold; 
}

.eventForm {
    padding-bottom: 10px;
    padding-top: 10px;
}

.formContainer {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.submitEventButton {
    background-color: #ffc107;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

.eventLink {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.eventLink:hover {
    color: white;
    text-decoration: none;
}